<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" id="ng-app"  ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lee And Robyn's Wedding</title>
    <meta name="description" content="">
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/base.css" rel="stylesheet" />
    <link href="css/sections.css" rel="stylesheet" />
</head>
<body>
    <div id="header">
    </div>
    <div id="menu">
        <div>
            <ul>
                <li><a href="#header">Home</a></li>
                <li><a href="#wedding">Wedding</a></li>
                <li><a href="#rsvp">RSVP</a></li>
                <li><a href="#registry">Registry</a></li>
                <li><a href="#programme">Programme</a></li>
                <li><a href="#out-of-towners">Out of Towners</a></li>
            </ul>
        </div>
    </div>
    <div id="timer">
        <div>
            <h3 married-header></h3>
            <timer id="time" target-date-string="2015/2/7 15:00:00" ></timer>
        </div>
    </div>
    <div class="section">
        <span>
            <a id="wedding" class="anchor"></a>
        </span>

        <h1>Wedding</h1>
        <div class="content">
            <div>Insert Content Here</div>
        </div>
    </div>
    <div class="section-spacer"></div>
    <div id="rsvp-section" class="section-alt" ng-controller="reservationCtrl">

        <span>
            <a id="rsvp" class="anchor"></a>
        </span>

        <h1>RSVP</h1>
        <div class="content" style="height: 213px;">
            <div ng-hide="isWorking">
                <form id="code-form" ng-hide="isFormLoaded">
                    <label for="code">Enter Code</label>
                    <input type="text" id="code" ng-model="rsvpCode" ng-minlength="5" ng-maxlength="5" maxlength="5">
                    <button ng-click="submitRsvpCode()">Submit</button>
                </form>
                <div id="attendees" ng-show="isFormLoaded">
                    <span class="pane-1">
                        <label>Attendees</label>
                        <ul ng-repeat="person in people">
                            <li>
                                <label>
                                    <input type="checkbox" ng-model="person.isAttending" />
                                    <span>{{ person.firstName }}&nbsp;{{ person.lastName }}</span>
                                </label>
                            </li>
                        </ul>
                    </span>
                    <span id="pane-2">
                        <label>Special Dietry Requirements</label>
                    </span>
                </div>
            </div>
            <div ng-show="isWorking">
                <div class="loading"></div>
            </div>
        </div>
    </div>
    <div class="section-spacer"></div>
    <div class="section">
        <span>
            <a id="registry" class="anchor"></a>
        </span>
        <h1>Registry</h1>
        <div class="content">
            <div>
                Insert Content Here
            </div>
        </div>
    </div>
    <div class="section-spacer"></div>
    <div class="section-alt">

        <span>
            <a id="programme" class="anchor"></a>
        </span>
        <h1>Programme</h1>
        <div class="content">
            <div>Insert Content Here</div>
        </div>
    </div>
    <div class="section-spacer"></div>
    <div class="section">
        <span>
            <a id="out-of-towners" class="anchor"></a>
        </span>
        <h1>Out of Towners</h1>
        <div class="content">
            <div>Insert Content Here</div>
        </div>
    </div>
    <div id="footer"></div>
    <script src="scripts/lib/jquery-2.1.1.js"></script>
    <script src="scripts/lib/underscore.js"></script>
    <script src="scripts/lib/angular.js"></script>
    <script src="scripts/lib/angular-resource.js"></script>
    <script src="scripts/src/app.js"></script>
    <script>
        var menu = document.querySelector('#menu');
        var origOffsetY = menu.offsetTop;
        function scroll() {
            var currOffsetY = (window.pageYOffset !== undefined) ? window.pageYOffset : (document.documentElement || document.body.parentNode || document.body).scrollTop;
            if (currOffsetY >= origOffsetY) {
                menu.className = 'sticky';
            } else {
                menu.className = '';
            }
        }
        window.onscroll = scroll;
    </script>
</body>
</html>

