@font-face {
  font-family: Gotham-Narrow;
  src: url('/fonts/GothamNarrow-Medium.otf') format('opentype'); }

@font-face {
  font-family: Gotham-Narrow;
  src: url('/fonts/GothamNarrow-Bold.otf') format('opentype');
  font-weight: bold; }

@font-face {
  font-family: Gotham-Narrow-Light;
  src: url('/fonts/GothamNarrow-Light.otf') format('opentype'); }

@font-face {
  font-family: Gotham-Narrow-Book;
  src: url('/fonts/GothamNarrow-Book.otf') format('opentype'); }

@font-face {
  font-family: Mercury-Display;
  src: url('/fonts/Mercury Display Bold Italic.ttf');
  font-style: italic;
  font-weight: bold; }

body {
  margin: 0;
  color: #FFFDF8; }

#header {
  height: 400px; }

#menu {
  background-color: #FFFDF8;
  height: 32px; }
  #menu div {
    width: 100%; }
    #menu div ul {
      text-align: center;
      margin: 0 auto; }
      #menu div ul li {
        display: inline-block;
        margin: 6px; }
        #menu div ul li a {
          text-decoration: none;
          text-transform: uppercase;
          font-family: Gotham-Narrow;
          font-size: 17px;
          color: #5B0A55; }

#menu.sticky {
  position: fixed;
  background-color: #FFFDF8;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #a9a9a9;
  z-index: 900; }

#timer {
  color: #FFFDF8;
  background: url('/images/timer_img.jpg') no-repeat fixed center;
  height: 180px;
  text-align: center; }
  #timer h3 {
    font-family: Mercury-Display;
    font-style: italic;
    font-weight: bold;
    padding-top: 32px;
    font-size: 21px;
    margin-top: 0; }
  #timer span {
    font-family: Gotham-Narrow-Light;
    font-size: 32px; }
  #timer span.time {
    font-family: Gotham-Narrow; }
  #timer span.spacer {
    font-size: 18px;
    font-family: Gotham-Narrow-Book; }

.section, .section-alt {
  position: relative;
  min-height: 440px; }
  .section span a.anchor, .section-alt span a.anchor {
    position: absolute;
    top: -32px;
    visibility: hidden; }
  .section h1, .section-alt h1 {
    font-family: Gotham-Narrow-Light;
    font-size: 32px;
    text-transform: uppercase;
    border-bottom: 1px dotted #D92C27;
    text-align: center;
    width: 700px;
    margin: auto;
    padding: 25px 0 18px 0;
    margin-bottom: 25px; }
  .section .content, .section-alt .content {
    margin: 0 auto;
    width: 700px; }

.section {
  color: #000000;
  background-color: #FFFDF8; }
  .section h1 {
    color: #5B0A55; }

.section-alt {
  color: #FFFDF8;
  background-color: #5B0A55; }

.section-spacer {
  height: 72px;
  background: url('/images/spacer-wallpaper.png') repeat; }

#footer {
  height: 145px;
  background: url('/images/timer_img.jpg') no-repeat fixed center;
  text-align: center; }

button {
  border: 0;
  font-family: Gotham-Narrow-Book;
  background-color: #D92C27;
  color: #FFFDF8;
  padding: 7px 15px;
  margin: 5px;
  display: block; }

label {
  font-family: Gotham-Narrow;
  font-weight: bold;
  font-size: 12px;
  display: block;
  margin: 5px; }

input[type=text] {
  font-family: Gotham-Narrow-Book;
  font-size: 18px;
  width: 100px;
  height: 22px;
  margin: 5px;
  display: block; }

/*# sourceMappingURL=base.css.map */