body {
}
#wedding{

}
#rsvp-section{
    .content{
        .loading{
            padding-top: 130px;
        }
    }
}
#registry{

}
#programme{

}
#out-of-towners{

}
#contact{

}
//http://spiffygif.com/?color=fffdf8&bgColor=5b0a56&radius=12
#code-form{
        label{
            display: block;
        }
        input[type=text]{
        }
}
.loading{
    margin: 0 auto;
    width: 72px;
    height: 72px;
    background: url('/images/loading.gif') center center no-repeat;
}